<div id="viewDetail" class="modal fade in" tabindex="-1" arial-hidden="false" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span arial-hidden="true">x</span>
                </button>
                <h3 class="modal-title" id="myModalLabel">View Detail User Action History</h3>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="widget-box">
                            <div class="widget-header">
                                <h4 class="widget-title">User Action History</h4>
                            </div>
                            <div class="widget-body">
                                <div class="widget-main">
                                    <form class="form-horizontal row clearfix" role="form">
                                        <div class="col-sm-6">
                                            <div class="form-group clearfix">
                                                <label class="col-sm-3 control-label no-padding-right">User Name: </label>
                                                <div class="col-sm-9"><strong id="info-username"></strong></div>
                                            </div>
                                            <div class="form-group clearfix">
                                                <label class="col-sm-3 control-label no-padding-right">Full Name: </label>
                                                <div class="col-sm-9"><strong id="info-fullname"></strong></div>
                                            </div>
                                            <div class="form-group clearfix">
                                                <label class="col-sm-3 control-label no-padding-right">City: </label>
                                                <div class="col-sm-9"><strong id="info-city"></strong></div>
                                            </div>
                                            <div class="form-group clearfix">
                                                <label class="col-sm-3 control-label no-padding-right">Branch: </label>
                                                <div class="col-sm-9"><strong id="info-branch"></strong></div>
                                            </div>
                                            <div class="form-group clearfix">
                                                <label class="col-sm-3 control-label no-padding-right">Pos: </label>
                                                <div class="col-sm-9"><strong id="info-pos"></strong></div>
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="form-group clearfix">
                                                <label class="col-sm-3 control-label no-padding-right">Description: </label>
                                                <div class="col-sm-9 blue"><strong id="info-func"></strong></div>
                                            </div>
                                            <div class="form-group clearfix">
                                                <label class="col-sm-3 control-label no-padding-right">Action: </label>
                                                <div class="col-sm-9"><strong id="info-action"></strong></div>
                                            </div>
                                            <div class="form-group clearfix">
                                                <label class="col-sm-3 control-label no-padding-right">ActionTime: </label>
                                                <div class="col-sm-9"><strong id="info-actiontime"></strong></div>
                                            </div>
                                            <div class="form-group clearfix">
                                                <label class="col-sm-3 control-label no-padding-right">Action Desc: </label>
                                                <div class="col-sm-9">
                                                    <textarea readonly wrap="hard" style="width: 340px; height: 350px" rows="100" id="info-actiondesc"></textarea>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer"></div>
        </div>
    </div>
</div>
